# name of token to deploy
NAME="token"

# symbol of token to deploy
SYMBOL="TKN"

# the "astriaBridgeSenderAddress" built into the node; set in the genesis file
BRIDGE="0x00000000000000000000000000000000000000aa"

# private key to alloc account in genesis; the contract deployer account
PRIVATE_KEY=0x0a6996ccaca77a1d48633da20062ae051e11c75f3f561dfd2ac01b0c9c874662

# default local rpc url
RPC_URL="http://localhost:8545"

# address of the deployed contract (used for reading balance)
ASTRIA_MINTABLE_ERC20_ADDRESS="0x9Aae647A1CB2ec6b39afd552aD149F6A26Bb2aD6"

# address to check balance of
USER_ADDRESS="0x46B77EFDFB20979E1C29ec98DcE73e3eCbF64102"
