name: Build and publish forkdiff github-pages
permissions:
  contents: write
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1000  # make sure to fetch the old commit we diff against
          
      - name: fetch geth release
        run: |
          git fetch origin go-ethereum/release/1.14.3

      - name: Build forkdiff
        uses: "docker://protolambda/forkdiff:latest"
        with:
          args: -repo=./ -fork=./fork.yaml -out=./index.html

      - name: Build pages
        run: |
          mkdir -p ./tmp/pages
          mv ./index.html ./tmp/pages/index.html
          touch ./tmp/pages/.nojekyll

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output to publish to the `gh-pages` branch:
          publish_dir: ./tmp/pages
          # The following lines assign commit authorship to the official
          # GH-Actions bot for deploys to `gh-pages` branch:
          # https://github.com/actions/checkout/issues/13#issuecomment-724415212
          # The GH actions bot is used by default if you didn't specify the two fields.
          # You can swap them out with your own user credentials.
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com

